## Docs:
## http://www.nano-editor.org/dist/v2.2/nano.1.html

# Editor config
set tabsize 4
set tabstospaces

## Search using regex
set regexp

## Scroll line-by-line
set smooth

## Show cursor position in status bar
set const
